@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tw-animate-css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
} */


body {
    font-family: "Roboto" ,sans-serif, dmSerifText;
}
  




